---
layout: page
notice: |
   Hello world, it was time to go back and draw, so, welcome.
---
<section class="page"> {% unless paginator.previous_page %}
   {{ page.notice | markdownify }} {% else %}
   <a class="prev" href="/{{ site.url }}{% unless paginator.previous_page == 1 %}page{{ paginator.previous_page }}{% endunless %}">
      &laquo; <span class="long">précédent</span>
   </a> {% endunless %} {% if paginator.next_page %}
   <a class="next" href="/{{ site.url }}page{{ paginator.next_page }}">
      <span class="long">suivant</span> &raquo;
   </a> {% endif %} {% for post in paginator.posts %} {% if post.center %}
   <img src="/{{ site.url }}{{ post.date | date: '%Y/%m/%d' }}/{{ post.center }}.png"
        alt="{{ post.left }}" class="center" /> {% else %} {% if post.left %}
   <img src="/{{ site.url }}{{ post.date | date: '%Y/%m/%d' }}/{{ post.left }}.png"
        alt="{{ post.left }}" class="left" /> {% endif %} {% if post.right %}
   <img src="/{{ site.url }}{{ post.date | date: '%Y/%m/%d' }}/{{ post.right }}.png"
        alt="{{ post.right }}" class="right" /> {% endif %} {% endif %}
   {{ post.date | date: '%Y/%m/%d' }}
   {{ post.content }} {% endfor %}
</section>
