<!DOCTYPE HTML>
<html lang="en">
   <head>
	   <meta charset="UTF-8"/>
	   <title>homemade drawings</title>
	   <link rel="stylesheet" type="text/css" href="/{{ site.url }}css/main.css" media="all"/>
	   <link rel="stylesheet" type="text/css" href="/{{ site.url }}css/pager.css" media="all"/>
   </head>
   <body>
      {% include about.html %}
      {{ content }}
      <script type="text/javascript">
         /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
         var disqus_shortname = 'monkecomics';
         /* * * DON'T EDIT BELOW THIS LINE * * */
         (function() {
         var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
         dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
         (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
         })();
      </script>
   </body>
</html>
