<!DOCTYPE HTML>
<html lang="fr">
   <head>
	   <meta charset="UTF-8"/>
	   <title>[blog.]</title>
	   <link rel="stylesheet" type="text/css" href="/comics/css/main.css" media="all"/>
	   <link rel="stylesheet" type="text/css" href="/comics/css/pager.css" media="all"/>
   </head>
   <body>
	   <section class="page">
	      {{ content }}
      </section>
      <p class="about">
         all these pics belong to MonKe, that is, myself. don't steal or I'll
         bite you.
      </p>
   </body>
</html>
